{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="container py-4" style="min-height: 100vh;">
		<section class="register d-flex align-items-center justify-content-center" style="min-height: 100vh;">

			<div class="row w-100">
				<div class="col-lg-6 d-flex flex-column align-items-center justify-content-center">
					<div class="card w-100 mb-3">
						<div class="card-body">
							<div class="card bg-warning-soft p-4 bg-card">
								<h1 class="text-center fs-4 fw-bold text-dark">Información Importante</h1>
								<p class="mt-3">&#10004; Estos usuarios son ficticios y están disponibles solo para pruebas.</p>
							</div>
							<div class="d-flex justify-content-center align-items-center flex-wrap mt-4">
								<h2 class="text-center fs-4 fw-bold text-dark w-100 mb-3">Selecciona un usuario</h2>
								<div class="row row-cols-1 row-cols-md-2 g-4 text-center w-100">
									{% set users = [
                                    {'name': 'Liam Keller', 'email': 'I@app.com', 'password': 'password'},
                                    {'name': 'Sofía Nakamura', 'email': 'sofia@user.com', 'password': 'password'},
                                ] %}
									{% for user in users %}
										<div class="col">
											<div class="card h-100 user-card bg-card" data-email="{{ user.email }}" data-password="{{ user.password }}" style="cursor:pointer; border: 1px solid #007bff;">
												<div class="card-body d-flex flex-column justify-content-center align-items-center">
													<p class="mb-0">
														<strong>{{ user.name }}</strong>
														{{ user.email }}</p>
													<p class="text-center mb-0 mt-2">
														<a href="#" class="select-action">Selecciona AQUÍ</a>
													</p>
												</div>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 d-flex flex-column align-items-center justify-content-center">
					<div class="card w-100 mb-3">
						<div class="card-body d-flex flex-column align-items-center">
							<div class="">
								<h1 class="text-center fs-4 fw-bold text-dark">Ingrese a su cuenta</h1>
								<p class="text-center small">Indique email y contraseña para iniciar sesión</p>
							</div>

							{% if error %}
								<div class="alert alert-danger w-100">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
							{% endif %}

							{% if app.user %}
								<div class="mb-3 w-100">
									You are logged in as
									{{ app.user.userIdentifier }},
									<a href="{{ path('app_logout') }}">Logout</a>
								</div>
							{% endif %}

							<form method="post" id="login-form" style="width: 100%;">
								<label for="inputEmail">Email</label>
								<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" autocomplete="email" required autofocus>
								<label for="inputPassword">Password</label>
								<input type="password" name="password" id="inputPassword" class="form-control mb-3" autocomplete="current-password" required>
								<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
								<div class="form-check mb-3">
									<input type="checkbox" name="_remember_me" id="remember_me" class="form-check-input">
									<label for="remember_me" class="form-check-label">Recordar contraseña</label>
								</div>
								<div id="loading-indicator" class="spinner-border text-primary" role="status" style="display: none; margin-bottom: 15px;">
									 <span class="sr-only"><i class="fa fa-history" aria-hidden="true"></i></span>
								</div>
								<button class="btn btn-lg btn-primary w-100" type="submit">Iniciar sesión</button>
								<div class="col-12 text-center mt-3">
									<p class="small mb-0">
										¿No tienes cuenta?
										<a href="{{ path('app_register') }}" class="register-link">Crea una cuenta</a>
									</p>
									<a href="https://pablogarciajc.com/" class="credits-link pt-2 fw-bold text-dark d-block">Desarrollado por
										<strong>PabloGarciaJC</strong>
									</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock %}
